

.login::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.35); /* ajuste aqui: 0.2–0.4 */
  pointer-events: none; /* pra não bloquear cliques */
}

.login {
  position: relative;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-image: url("../Imagens/imagemcelular.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  width: 100%;
  display: flex;
  position: right;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.cadastrese {
  width: 50vw;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  padding: 15px;
  border: 1px solid #ccc;
}

.cadastrese::before { 
  content: "";
  position: relative;
  display: flex;
  inset: 0;
  background-image: url("../Imagens/logodofundosemfundo.png");
  background-repeat: no-repeat;
  background-size: 755px;
  transform: translateX(-25%) rotate(11deg);
  background-position: center;
  z-index: -1;
}

.label {
    display: flex
}
.form-style {
  width: 100%;
  /* height: 60%; */
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
