

a {
text-decoration: none;
    color: inherit;
    margin-left: 18px;  
    margin-top: 14px;
}

a:hover {
    color:white;
}

.container {
    margin-left: 40px;
}

.cadastro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 870.676px;
    background-color: rgba(88, 93, 98, 1);
    border-radius: 41px;
}

.divisao {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    width: 40%;
    align-items: flex-end;
    justify-content: space-evenly;
}

button {
 background-color: #81B4B8;
  color: #203d3d;
  width: 280px;
  height: 58px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  /* margin-top: 90px; */
}

button:hover { 
    background-color: #346263;
    color: white;
}

input {
    width: 100%;
    max-width: unset;
}

.conteudo {
    margin: 25px;
}