.login-container {
  width: 100%;
  height: 100%;

  display: flex;
  position: left;
  justify-content: space-around;
}

.login {
  height: 600px;
  width: 100%;
  display: flex;
  position: right;
  flex: 1;
  padding: 15px;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  background-image: url("../Imagens/imagemcelular.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.overlay {
  /* background: rgba(255, 255, 255, 0.2); /* 0.2 = leve clareamento */
  background-color: red;
  height: 600px;
  width: 100%;
  display: flex;
  position: right;
  flex: 1;
  padding: 15px;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}
.boasvindas {
  width: 500px;
  height: 600px;
  display: flex;
  position: right;
  flex: 1;
  padding: 15px;
  border: 1px solid #ccc;
  background-image: url("../Imagens/logodofundosemfundo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.form-style {
  /* width: 90%;
  height: 60%; */
  /* background-color: blue; */
}
.quadrado {
  /* background-color:#585D62; */
  background-color: rgba(88, 93, 98, 0.5); /* semi-transparente */
  /* opacity: 0.5; */
  width: 90%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  /* padding: 20px; */
}
#btn1 {
  background-color: #81b4b8;
}
#btn2 {
  background-color: #346263;
}
