* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kodchasan", sans-serif;
  font-size: 1.3rem; 
  /* tamano da fonte escrita */
}
body {
  font-family: "Kodchasan", sans-serif;
 
}

h1 {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 3.441rem;
}
nav {
  background-color: #22262a;
  height: 10%;
}

a {
  width: 100%;
}
  /* background-color: violet; */


input {
  width: 100%;
  height: 60px;
  max-width: 486px;
  border-radius: 30px;
  padding: 25px;
  border: none;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

button {
  border-radius: 30px;
  border: none;
}

.logo img {
  width: 9vw;
  padding-left: 10px;
  padding-top: 10px;
}

.body {overflow: hidden;
 height: 100vh;
}

input[type="checkbox"]{
  height: 30px;
  width: 20%;
}
