
.login-container {
  width: 100%;
  height: 100%;

  display: flex;
  position: left;
  justify-content: space-around;
}
.login {
  position: relative;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-image: url("../Imagens/imagemcelular.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.overlay {
  width: 100%;
  display: flex;
  position: right;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}
.boasvindas {
  width: 50vw;
  display: flex;
  flex-direction: column;
  position: right;
  flex: 1;
  padding: 15px;
  border: 1px solid #ccc;
}
.boasvindas::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../Imagens/logodofundosemfundo.png");
  background-repeat: no-repeat;
  background-size: 755px;
  transform: translateX(-25%) rotate(11deg);
  background-position: center;
  z-index: -1;
}
.form-style {
  width: 100%;
  /* height: 60%; */
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quadrado {
  /* background-color:#585D62; */
  background-color: rgba(88, 93, 98, 0.5); /* semi-transparente */
  /* opacity: 0.5; */
  width: 90%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  /* padding: 20px; */
}
#btn1 {
  background-color: #81b4b8;
  width: 30%;
}
#btn2 {
  background-color: #346263;
}
.cadastrar {
  width: 60%;
  display: inline-grid;
}


.login::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.35); /* ajuste aqui: 0.2–0.4 */
  pointer-events: none; /* pra não bloquear cliques */
}

/* tudo dentro da div acima da camada */
.login > * {
  position: relative;
  z-index: 1;
}


.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.botao {
  width: 100%;
  max-width: 486px;
  /* background-color: tomato; */
  display: flex;
  justify-content: space-between;
  height: 64px;
  margin-top: 30px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

#password {
  margin-top: 20px;
}

.esqueci > a {
  color: white;
  text-decoration: none;
  width: auto;
}
.esqueci {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 15px;
}
