

body {
    background-color: 251, 250, 251;
}


 /* tirar o efeito de link das palavras
 margem de 61px da borda da tela */
a { color: rgb(255, 255, 255);
    text-decoration: none; 
    margin-left: 18px;  
    margin-top: 14px;
    
}



.caixacinza {
    background-color:#d9d9d9;
    margin: 25px;
    border-radius: 74px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 64px;
    width: 100%;
    padding:40px;
}

a:hover {
    color:white;
}

h1 {color: #000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex; 
    margin-left: 25px;
    
}

body {  overflow: scroll;
}


h3 {font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 36px;

}

.fatalcell {
    background-color: rgba(52, 98, 99, 1);
    border-radius: 33px;
    display: flex; 
    height: 212px;
    flex-shrink: 0;
    margin-left: 25px;
    margin-right: 69px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.floriano {
    background-color: rgba(52, 98, 99, 1);
    border-radius: 33px;
    display: flex; 
    height: 212px;
    flex-shrink: 0;
    margin-left: 25px;
    margin-right: 69px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.mynewphone {
    background-color: rgba(52, 98, 99, 1);
    border-radius: 33px;
    display: flex; 
    height: 212px;
    flex-shrink: 0;
    margin-left: 25px;
    margin-right: 69px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.iking {
    background-color: rgba(52, 98, 99, 1);
    border-radius: 33px;
    display: flex; 
    height: 212px;
    flex-shrink: 0; 
    margin-left: 25px;
    margin-right: 69px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.mastertudo {
    background-color: rgba(52, 98, 99, 1);
    border-radius: 33px;
    display: flex; 
    height: 212px;
    flex-shrink: 0;
    margin-left: 25px;
    margin-right: 69px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

ul a {color: #000;

}

.estrelageral {
    width:45px;
    height:45px;
    margin-right: 6px;
}

.estrela {
    font-size: 36px;
    color:#81b4b8;
    display: flex;
}

button {
    background-color: #346263;
    color: white;
    width: 273px;
    height: 89px;
}

button:hover {
    background-color: #81b4b8;
    color: #346263;
}

iframe {
    width: 100%;
    height: 379px;
    border-radius: 15px;
    padding-bottom: 31px;
    /* background-color: #e0245e; */
}

input {
    height: 89px;
    width: calc(100% - 281px);
    border: 15px #81b4b8 solid;
    max-width: unset;

}

/* heart*/
:root{
      --size: 56px;
      --heart-color: #e0245e;
      --muted: #bbb;
      --bg: #fff;
      --shadow: 0 6px 18px rgba(0,0,0,.08);
}

 .heart{
      width:38px;
      height:38px;
      display:block;
      transform-origin:center;
      transition: transform .22s cubic-bezier(.2,.9,.3,1), fill .18s;
      fill: none;
      stroke: var(--muted);
      stroke-width: 2;
      filter: drop-shadow(0 1px 0 rgba(0,0,0,.03));
 }
.like-btn.liked .heart{
      fill: var(--heart-color);
      stroke: var(--heart-color);
      transform: scale(1.08);
}

      /* Botão do coração */
    .like-btn{
      --s: var(--size);
      width:var(--s);
      height:var(--s);
      border-radius:12px;
      border: none;
      display:inline-grid;
      place-items:center;
      cursor:pointer;
      transition:transform .12s ease box-shadow .12s ease;
      outline: none;
      position:relative;
      padding:0;
    }