.cabecalho {
    background-color:rgba(176, 181, 182, 1);
    list-style: none; 
    display: flex; 
    justify-content: center; 
    gap: 300px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

a {
text-decoration: none;
    color: inherit;
    margin-left: 18px;  
    margin-top: 14px;
}

a:hover {
    color:white;
}