
body{
    overflow-x: hidden;
}

a {
text-decoration: none;
    color: inherit;
    margin-left: 18px;  
    margin-top: 14px;
}

a:hover {
    color:white;
}

.container {
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 38px

}

/* .nome {
    margin-left: 38px;
    background-color:  #81B4B8;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px ;
    padding-left: 10px;
    margin-bottom: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 600px;
}

.email {
    margin-left: 38px;
    background-color:  #81B4B8;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px ;
    padding-left: 10px;
    margin-bottom: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 600px;
    
}
.mensagem {
    margin-left: 38px;
    background-color:  #81B4B8;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px ;
    padding-left: 10px;
    margin-bottom: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 600px;
    
} */

button {
 background-color: #346263;
  color: #ffffff;
  width: 280px;
  height: 58px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

}

button:hover {
    color:#346263;
    background:#81B4B8;
}

.mensagem {
width: 564px;
height: 187px;
}

input {
    border: 15px #81B4B8 solid;

}

.caixas {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-evenly;

}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../Imagens/logo\ do\ fundosemfundo.png");
  background-repeat: no-repeat;
  background-size: 755px;
  transform: translateX(0%) rotate(11deg) scale(1.0)  translateY(79px);
  background-position: center;
  z-index: -1; 
  background-size: 693px;
}
