.cabecalho {
    background-color:rgba(176, 181, 182, 1);
    list-style: none; 
    display: flex; 
    justify-content: center; 
    gap: 300px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

a {
text-decoration: none;
    color: inherit;
}

.container {
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 38px

}
.bug {
    margin-left: 38px
}

.fale {
    margin-left: 38px
}

button {
 background-color: #346263;
  color: #ffffff;
  width: 280px;
  height: 58px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

button:hover {
    color:#346263;
    background:#81B4B8;
}

.mensagem {

background:(#81B4B8);
filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

}

input#mensagem {
width: 564px;
height: 187px;
}

