body {
    background-color: 251, 250, 251;
}
.cabecalho {
    background-color:rgba(176, 181, 182, 1);
    list-style: none; 
    display: flex; 
    justify-content: center; 
    gap: 300px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

 /*arrumar a margem do cabeçaralho*/
 
h1 {color: #000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

a {
text-decoration: none;
    color: inherit;
    color: rgb(14, 13, 13);
    text-decoration: none; 
    padding-left: 61px;  
        
    
}

.quadradofundo {

    background: #346263;
    width:95vw;
    border-radius: 33px;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    padding:40px;
    margin-left: 40px;
    
}

.informacoes {
    color:#EBEFEE;
}

h3 {
  color:  #EBEFEE;
}



button:hover { 
    background-color: #203d3d;
    color: #81B4B8;
}

.avaliacao1{
    font-style: #000;
    background-color: white;
    border-radius: 20px;
    padding: 7px;
    margin-top: 10px;

}

.avaliacao2{
    font-style: #000;
    background-color: white;
    border-radius: 20px;
    padding: 7px;
    margin-top: 27px;
    

}

.avaliacao3{
    font-style: #000;
    background-color: white;
    border-radius: 20px;
    padding: 7px;
    margin-top: 27px;
    
}

a:hover {
    color:white;
}

#commentText {
    width: 82vw;
    height: 30vh;
    border-radius: 20px;
}

h3 { 
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 36px;

}

.estrelas {
    display:flex;
    color:#81B4B8;
    font-size: 36px;
}

/*ta reconhecendo a display no texto, não no botão*/
.btn1 {
    background-color: #81B4B8;
    border-radius: 11px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 176px;
    height: 49px;
    flex-shrink: 0;
    color: #203d3d;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.btn2 {
    background-color: #81B4B8;
    border-radius: 11px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 398px;
    height: 56px;
    flex-shrink: 0;
    color: #203d3d;
    display: flex;
    justify-content: center;
    flex-direction: column;

 }

 .estrela {
    width: 109px;
    height:19px;
 }

.estrelageral {
    width:255px;
    height: 45px;
}